# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.pdb

# Build directories
/build/
/bin/
/Debug/
/Release/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Qt Creator
*.pro.user
*.qmake.stash

# Visual Studio
*.vcxproj*
*.sln
*.user
*.filters
*.opensdf
*.sdf
*.ipch
*.db

# Code::Blocks
*.cbp
*.depend
*.layout

# CLion
.idea/
cmake-build-*/

# Other
*.log
*.swp
*~

.vscode